<div class="page-content" fxLayout="column" fxLayoutAlign="center center" fxFlexFill>
  <div>
    <mat-card class="mat-elevation-z6">
      <mat-card-header>
        <mat-card-title>{{'mainMenu.Login' | translate}}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <app-login-control [isModal]="false" (enterKeyPress)="loginControl.login()"></app-login-control>
      </mat-card-content>
      <mat-card-actions>
        <div>
          <button mat-raised-button color="primary" [disabled]="loginControl.isLoading" (click)="loginControl.login()">
            <mat-spinner *ngIf="loginControl.isLoading && !loginControl.isExternalLogin" [diameter]="20"></mat-spinner>{{'mainMenu.Login' | translate | uppercase}}
          </button>
          <div fxFlex></div>
          <a mat-button routerLink="/recoverpassword">FORGOT PASSWORD</a>
          <mat-divider [vertical]="true"></mat-divider>
          <a mat-button routerLink="/register">REGISTER</a>
        </div>
        <div class="mat-typography social-logins-divider" fxLayout="row" fxLayoutAlign="space-around center">
          <mat-divider [inset]="true"></mat-divider>
          <span>or</span>
          <mat-divider [inset]="true"></mat-divider>
        </div>
        <!-- <div class="social-logins-buttons" fxLayout="column" fxLayoutAlign="space-between stretch">
          <button mat-raised-button [color]="'google'" [disabled]="loginControl.isLoading" (click)="loginControl.loginWithGoogle()">
            <mat-icon *ngIf="!(loginControl.isLoading && loginControl.isGoogleLogin)" svgIcon="google"></mat-icon>
            <mat-spinner *ngIf="loginControl.isLoading && loginControl.isGoogleLogin" [diameter]="20"></mat-spinner>
            <span class="text-content">Connect with Google</span>
          </button>
          <button mat-raised-button [color]="'facebook'" [disabled]="loginControl.isLoading" (click)="loginControl.loginWithFacebook()">
            <mat-icon *ngIf="!(loginControl.isLoading && loginControl.isFacebookLogin)" svgIcon="facebook"></mat-icon>
            <mat-spinner *ngIf="loginControl.isLoading && loginControl.isFacebookLogin" [diameter]="20" color="accent"></mat-spinner>
            <span class="text-content">Connect with Facebook</span>
          </button>
          <button mat-raised-button [color]="'twitter'" [disabled]="loginControl.isLoading" (click)="loginControl.loginWithTwitter()">
            <mat-icon *ngIf="!(loginControl.isLoading && loginControl.isTwitterLogin)" svgIcon="twitter"></mat-icon>
            <mat-spinner *ngIf="loginControl.isLoading && loginControl.isTwitterLogin" [diameter]="20"></mat-spinner>
            <span class="text-content">Connect with Twitter</span>
          </button>
        </div> -->
      </mat-card-actions>
    </mat-card>
  </div>
</div>
