
mat-spinner {
  display: inline-block;
  margin-right: 10px;
}

.mat-form-field {
  width: 100%;
  margin-bottom: 0.5em;
}

.found-email-notice {
  max-width: 450px;
  text-align: center;
  margin: 0 0 25px 0;
}
